<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.bugtags.ui"
    android:versionCode="40"
    android:versionName="3.0.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true">
    </application>

</manifest>
